<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <div class="card text-center">
    <div class="card-header">
      Error Message
    </div>
    <div class="card-body">
      <h5 class="card-title">404 - Not Found</h5>
      <p class="card-text">User not logged in</p>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  </div>